footer {
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

footer > .container {
  padding: 6rem 2rem 5rem;
  max-width: 120rem;
  gap: 4rem;
  display: flex;
  flex-direction: column;
}

footer .promo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

footer .promo-item-icon img {
  display: block;
  height: 3.8rem;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

footer .promo-item {
  display: flex;
  flex-direction: column;
}

footer .promo-item h6 {
  padding-top: 1rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: var(--primary-font);
  font-weight: 500;
}

footer .promo-item .block {
  display: block;
}

footer .promo-item p {
  padding-top: .6rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

footer .buttons-nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

footer .buttons-nav {
  .nav-title {
    height: 5rem;
    display: flex;
    align-items: center;
  }
}

footer .buttons-nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem 1.8rem;
  max-width: 30rem;
}

footer .buttons-nav a[variant="outlined"] {
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--primary-color-inverse);
  color: var(--primary-color-inverse);
  font-size: 1.5rem;
  line-height: 3rem;
  padding: .9rem 2.4rem;
}

.footer-navs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .links-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2rem;
  padding-top: 5rem;
}

footer .nav-title {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-family: var(--primary-font);
  font-weight: 500;
}

footer .links-nav-holder {
  flex: 1 0 13.5rem;
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
}

footer .links-nav-list {
  list-style: none;
  margin: 0;
}

footer .links-nav-list a {
  font-size: 1.5rem;
  line-height: 3rem;
  text-decoration: none;
  color: inherit;
}

footer .community-nav {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 5rem;
}

footer .community-nav .social-links-holder + .nav-title {
  padding-top: 2.8rem;
  padding-bottom: .8rem;
}

footer .social-links-holder {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
  padding-top: 1.4rem;
}

footer .social-links-holder a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

footer .social-links-holder a img {
  display: block;
  max-height: 2.4rem;
  width: auto;
  height: auto;
}

footer .social-links-holder a[aria-label="YouTube"] img {
  max-height: 1.8rem;
}

footer .social-links-holder a[aria-label="Red"] img {
  max-height: 2.1rem;
}

footer .social-links-holder a[aria-label="X"] img {
  max-height: 2rem;
}

footer .nav-description {
  font-size: 1.4rem;
  line-height: 2rem;
}

footer .footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 2.5rem;
}

footer .promo-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.2rem;
  max-width: 40rem;
  width: 100%;
  justify-content: flex-start;
}

footer .promo-icon {
  display: block;
  width: auto;
}

footer .promo-icon--one-for-the-planet {
  height: 6rem;
}

footer .promo-icon--truemed {
  height: 1.9rem;
}

footer .promo-icon--shoppay {
  height: 2.1rem;
}

footer .copyrights {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

footer .country-flags-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1.1rem;
  row-gap: 1.7rem;
  justify-content: start;
}

footer .country-flag-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

footer .country-flags-grid img {
  display: block;
  height: 2.6rem;
  width: auto;
}

@media (min-width: 768px) {
  footer .promo-grid {
    grid-template-columns: repeat(auto-fit, minmax(14.8rem, 1fr));
    gap: 11rem;
  }
  footer .promo-item h6 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  footer .promo-item p {
    padding-top: 1.3rem;
    line-height: 2.1rem;
  }
  footer .buttons-nav-links {
    gap: 1.8rem;
  }
  footer .buttons-nav {
    .nav-title {
      height: auto;
    }
  }
  .footer-navs {
    padding-top: 3.4rem;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
  }
  footer .links-nav {
    padding-top: 0rem;
    .links-nav-holder {
      gap: 1.8rem;
    }
  }
  footer .community-nav {
    padding-top: 0rem;
    gap: 2.3rem;
    .social-links-holder {
      padding-top: 0;
      margin-top: -.5rem;
    }
  }
  footer .community-nav .social-links-holder + .nav-title {
    padding-top: 2.7rem;
    padding-bottom: 1rem;
  }
  footer .country-flags-grid {
    column-gap: 1.2rem;
    row-gap: 1.8rem;
  }
  footer .country-flags-grid img {
    height: 3rem;
  }
  footer .nav-description {
    max-width: 24.7rem;
  }
  footer .footer-bottom {
    padding-top: 0;
    justify-content: space-between;
    align-items: center;
  }
  footer .promo-icons {
    width: 100%;
    justify-content: space-between;
  }
  footer .promo-icon--one-for-the-planet {
    height: 7.3rem;
  }
  footer .promo-icon--truemed {
    height: 2.4rem;
  }
  footer .promo-icon--shoppay {
    height: 2.6rem;
  }
}

@media (min-width: 1024px) {
  footer > .container {
    padding: 10rem 0 4rem;
  }
}
