.gallery-section {
    position: relative;
}

.gallery-section .container {
    max-width: 161rem;
}

.gallery-grid {
    width: 100%;
    display: none;
}

.gallery-grid .gallery-item {
    display: block;
    width: 100%;
}

.gallery-grid .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: var(--border-radius-20);
}

.gallery-grid .aspect-rect,
.gallery-grid .aspect-square {
  aspect-ratio: 1 / 1;
}

.alter-gallery-slider,
.gallery-slider {
    position: relative;
}

.gallery-slider-viewport {
  position: relative;
  width: 100%;
}

.gallery-slider .swiper-slide img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--border-radius-20);
}


@media (min-width: 768px) {
    .gallery-grid {
        column-count: 2;
        column-gap: 1.9rem;
        display: block;
    }
    .gallery-grid .gallery-item {
        break-inside: avoid;
        margin-bottom: 1.6rem;
    }
    .gallery-grid .gallery-item img {
        border-radius: var(--border-radius-30);
    }
    .gallery-grid .aspect-rect {
        aspect-ratio: 2 / 1;
    }
    .gallery-section {
        padding-top: 4.5rem;
    }

    .gallery-slider-viewport {
        display: none;
    }
}

@media (min-width: 1024px) {
  .gallery-section {
    padding-top: 9rem;
  }
}