.hero-section-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-section-wrapper > .container {
    padding-inline: 0;
}

.hero-section-content{
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-block: 0 5rem;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.hero-main-image-desktop {
    display: none;
}
.hero-section-title,
.hero-section-subhead,
.hero-section-ctas {
    z-index: 1;
}

.hero-section-eyebrow,
.hero-section-title,
.hero-section-subhead {
    color: var(--primary-color-inverse);
}

.hero-section-eyebrow {
    margin-bottom: 1rem;
}

.hero-section-eyebrow .content {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding: .5rem 1.3rem;
    font-family: var(--primary-font);
    font-weight: 500;
    border: 0.9px solid var(--primary-color-inverse);
    border-radius: var(--border-radius-full);
}

.hero-section-eyebrow .content .logo {
    height: 1.4rem;
}

.hero-section-title {
    font-size: 4.2rem;
    line-height: 4rem;
    margin-bottom: 1.3rem;
}

.hero-section-subhead {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 3rem;
    max-width: 27rem;
}
.hero-section-ctas {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section-badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.6rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--primary-color-inverse);
}

.hero-section-badge img {
    width: auto;
    height: 1.6rem;
}

.hero-section-badge strong {
    font-weight: 500;
}

@media (min-width: 768px) {
    .hero-section-title {
        font-size: 8rem;
        line-height: 6.8rem;
    }
    .hero-section-subhead {
        max-width: 45rem;
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
    .hero-section-eyebrow {
        font-size: 3rem;
        line-height: 3.6rem;
        margin-bottom: 1.6rem;
    }
    .hero-section-eyebrow .content {
        font-size: 2rem;
        line-height: 3.4rem;
        padding: .6rem 1.8rem;
    }
    .hero-section-eyebrow .content .logo {
        height: 2rem;
    }
    .hero-image-holder {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: auto;
        top: 0;
        margin: 0;
        position: relative;
    }
    .hero-main-image-mobile {
        display: none;
    }
    .hero-section-ctas {
        align-items: flex-start;
    }
    .hero-section-badge {
        padding-inline-start: 3.5rem;
        padding-top: 1.3rem;
    }
    .hero-main-image-desktop {
        display: block;
    }
    .hero-section-content{
        justify-content: center;
        align-items: flex-start;
        padding-block: 0;
        text-align: left;
        position: absolute;
        box-sizing: border-box;
    }
    .hero-section-wrapper > .container {
        padding-inline: 8rem;
    }
}

@media (min-width: 1024px) {
    .hero-section-title {
        max-width: 95rem;
        font-size: 8rem;
        line-height: 6.8rem;
    }
    .hero-section-subhead {
        max-width: 45rem;
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
    .hero-section-subhead,
    .hero-section-title {
        margin-bottom: 3.6rem;
    }
}

@media (min-width: 1600px) {
    .hero-section-title {
        font-size: 10rem;
        line-height: 8.8rem;
    }
}
