.features-sections-wrapper {
  gap: 5rem;
}

.image-with-copy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.image-with-copy-image {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.image-with-copy-image img {
  width: auto;
  height: auto;
  max-height: 69.5rem;
  max-width: 100%;
  object-fit: contain;
  border-radius: var(--border-radius-20);
}

.image-with-copy-text .title {
  font-size: 2.6rem;
  line-height: 3.4rem;
  padding-bottom: 1.3rem;
}

.image-with-copy-text .subtitle {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.image-with-copy-text .cta {
  display: none;
}

@media (min-width: 1024px) {
  .features-sections-wrapper {
    gap: 9rem;
    padding-block: 12.4rem 0;
  }

  .image-with-copy-container {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  .desktop-row-reverse {
    flex-direction: row-reverse;
  }

  .image-with-copy-image img {
    border-radius: var(--border-radius-30);
  }

  .image-with-copy-text {
    max-width: 74rem;
    padding-inline: 8.5rem 6.5rem;
  }

  .image-with-copy-text :is(.title, .subtitle) {
    width: 42.6rem;
    max-width: 100%;
  }

  .image-with-copy-text .title {
    font-size: 4.8rem;
    line-height: 6.2rem;
    padding-bottom: 4rem;
  }

  .image-with-copy-text .subtitle {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .image-with-copy-text .cta {
    display: flex;
    width: fit-content;
    max-width: 100%;
    margin-top: 11rem;
  }
}

@media (min-width: 1440px) {
  .image-with-copy-text {
    padding-inline: 14.5rem 11.5rem;
  }
  .image-with-copy-text .title {
    width: 48rem;
  }
  .image-with-copy-text .cta {
    max-width: 48rem;
  }
}
