.page-content-section {
  color: var(--text-color-tertiary);
}
.container-medium {
  max-width: 76rem;
}
.page-content-wrapper {
  padding-top: 6rem;
  padding-inline: var(--page-padding-inline);
  width: 100%;
}

.page-hero-section-wrapper > .container {
    padding: 0;
    position: relative;
}

.page-hero-image-holder {
  position: relative;
}

.page-hero-secondary-image {
  border-radius: var(--border-radius-20);
  display: none;
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  width: 42%;
  height: auto;
  max-width: 54rem;
}

.page-hero-main-image-desktop {
  position: relative;
  border-radius: var(--border-radius-20);
  bottom: 0;
  right: 2rem;
  height: auto;
  width: 58%;
  display: none;
}

.page-hero-section-wrapper.rose-gradient {
  background-image: linear-gradient(35deg,
     rgba(211, 177, 192, 0.77) 0%,
     rgba(254, 240, 235, 0.77) 95%);
}

.page-hero-section-wrapper.cold-gradient {
  background-image: linear-gradient(207deg,
     rgba(179,203,218,0.77) 6%,
     rgba(104,142,176,0.77) 94%);
}

.page-hero-content-holder {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 12rem;
  color: var(--primary-color-inverse);
  z-index: 10;
  max-width: 100%;
  padding-inline: var(--page-padding-inline);
  text-align: center;
}

.page-hero-content-holder h1 {
  font-size: 4.2rem;
  line-height: 4rem;
  padding-bottom: 1.6rem;
}

.page-hero-content-holder p {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.page-heading-section {
  padding: 3.4rem 4.7rem;
  text-align: center;
}
.page-heading-section p {
  font-size: 2rem;
  line-height: 3rem;
  max-width: 37rem;
  padding-top: 2.1rem;
}
.page-heading-section h1 {
  font-size: 3rem;
  line-height: 3.8rem;
  max-width: 30rem;
}
.page-content-section h2,
.page-content-section p {
  color: var(--text-color-tertiary)
}
.page-content-section h2 {
  font-size: 3rem;
  line-height: 3.7rem;
}
.page-content-section p,
.page-content-section .page-content-list-item {
  font-size: 2rem;
  line-height: 3rem;
}
.page-content-section p,
.page-content-section .page-content-list {
  padding-top: 2.4rem;
}
.page-content-section .page-content-list-item::before {
  content: '•';
  display: inline-block;
  width: 1.2rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.page-content-section .page-content-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.page-media-holder{
  margin-top: 4.2rem;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-20);
  overflow: hidden;
}
.page-media-holder .width-full {
  width: 100%;
}
.page-media-holder .width-half {
  width: 50%;
  padding-block: 1rem;
}
.page-media-holder .width-one-third {
  width: 30%;
  padding-block: 1rem;
}

.page-content-section:last-child {
  padding-bottom: 10rem;
}

.page-signup-section .container {
  padding-block: 4rem;
}

.page-signup-wrapper {
  position: relative;
  padding-inline: var(--page-padding-inline);
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
}

.page-signup-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.8;
  background-image: linear-gradient(180deg, #FFFFFF 30%, rgba(255,255,255,0.00) 100%);
  box-shadow: inset 0.5px 1px 0 -0.5px #FFFFFF, inset -0.5px -1px 0 -0.5px #FFFFFF, inset 0 0.5px 0.5px -1px #FFFFFF, inset -1px -0.5px 0.5px -1px #FFFFFF, inset 0 0 20px 0 rgba(255,255,255,0.50), 0 0 2px 0 rgba(0,0,0,0.10), 0 1px 8px 0 rgba(0,0,0,0.12);
  border-radius: var(--border-radius-20);
  z-index: 0;
}

.page-signup-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.page-signup-content .title {
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: center;
}

.page-signup-content .description {
  font-size: 1.5rem;
  line-height: 2.1rem;
  padding-inline: 1rem;
  color: var(--text-color-tertiary)
}

.page-signup-section .contact-us-form form input,
.page-signup-section .contact-us-form form textarea {
  background-color: transparent;
  border-color: var(--border-color-tertiary)
}

.page-signup-section .contact-us-form button[type="submit"] {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

/* Heading Styles */
.page-heading-section.heading-section {
  padding-block: 3.5rem;
}
main > .page-heading-section.heading-section:first-child {
  padding-top: 20rem;
}
/* Heading Styles End */


@media (min-width: 768px) {
    .page-content-wrapper {
      padding-top: 2rem;
      padding-inline: 0;
    }
    .page-media-holder,
    .page-signup-wrapper::before {
      border-radius: var(--border-radius-30);
    }
    .page-hero-image-holder {
        display: flex;
        justify-content: flex-end;
    }
    .page-hero-main-image-mobile {
        display: none;
    }
    .page-hero-main-image-desktop {
        display: block;
    }
    .page-hero-secondary-image {
        bottom: 1.7rem;
        right: 50%;
        width: 25%;
        max-width: 54rem;
        display: block;
    }
    .page-hero-content-holder {
      bottom: 30%;
      padding: 0;
      text-align: left;
      align-items: start;
    }
    .page-hero-content-holder h1 {
      max-width: 71rem;
      font-size: 8rem;
      line-height: 10rem;
      padding-bottom: 2.6rem;
    }
    .page-hero-content-holder p {
      font-size: 2.2rem;
      line-height: 2.8rem;
      max-width: 45.5rem;
    }
    .page-hero-section-wrapper {
        padding-block: 10rem 3rem;
    }
    .page-signup-wrapper::before {
      border-radius: var(--border-radius-30);
    }
    .page-hero-section-wrapper > .container {
        padding-inline: 8rem;
    }
    .page-media-holder {
      border-radius: 0;
    }
    .page-heading-section {
      padding: 9rem 0;
    }
    .page-heading-section h1,
    .page-content-section h2 {
      font-size: 4.8rem;
      line-height: 6.2rem;
    }
    .page-content-section p {
      line-height: 2.8rem;
      padding-top: 2rem;
    }
    .page-content-section .page-content-list {
      padding-top: 2rem;
      gap: 2.5rem;
    }
    .page-content-section .page-content-list-item {
      line-height: 2.4rem;
    }
    .page-heading-section p ,
    .page-heading-section h1 {
      max-width: 70rem;
    }
    .page-signup-wrapper {
      gap: 2.4rem;
      padding: 6rem 0rem;
    }
    .page-signup-content {
      gap: 3.2rem;
    }
    .page-signup-content .title {
      font-size: 5.4rem;
      line-height: 6.2rem;
      text-align: center;
    }
    /* Heading Styles */
    .page-heading-section.heading-section {
      padding-block: 8rem;
    }
    main > .page-heading-section.heading-section:first-child {
      padding-top: 22.5rem;
    }
    /* Heading Styles End */
}

@media (min-width: 1024px) {
  .page-hero-section-wrapper {
    padding-block: 14rem 8rem;
  }
  .page-hero-secondary-image {
    border-radius: 0;
    bottom: 5.7rem;
  }
  .page-heading-section p ,
  .page-heading-section h1 {
    max-width: 81rem;
  }
}

@media (min-width: 1200px) {
  .page-hero-content-holder {
    bottom: 40%;
  }
  .page-hero-content-holder h1 {
    max-width: 91rem;
    font-size: 10rem;
    line-height: 12.4rem;
  }
}

@media (min-width: 1600px) {
  .page-hero-secondary-image {
    width: 45%;
  }
}
