.parallax-section {
  height: 88dvh;
  margin-top: 5rem;
  position: relative;
}

.parallax-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin: 0 auto;
  /* center the content wrapper for large screens */
}

.parallax-text-content {
  text-align: center;
  max-width: 78%;
  gap: 1.7rem;
  display: flex;
  flex-direction: column;
}

.parallax-text-content .title {
  font-size: 2.8rem;
  line-height: 3.4rem;
}

.parallax-text-content .subtitle {
  font-size: 1.5rem;
  line-height: 2.1rem;
}

.parallax-text-content .arrow-icon {
  padding-top: 5rem;
}

.parallax-text-content .arrow-icon img {
  display: inline-block;
  width: 2.6rem;
  height: auto;
  object-fit: contain;
}

.parallax-images-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.parallax-image-holder {
  position: absolute;
  width: 13.5rem;
  border-radius: var(--border-radius-12);
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  backdrop-filter: blur(1.2rem) saturate(32%) brightness(98%);
  -webkit-backdrop-filter: blur(1.2rem) saturate(32%) brightness(98%);
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: -1;
}

.pos-top-left {
  top: 6%;
  left: 6%;
}

.pos-center-right {
  top: 56%;
  right: 6%;
}

.pos-bottom-left {
  bottom: 6%;
  left: 2%;
}


@media (min-width: 768px) {
  .parallax-section {
    height: 110dvh;
  }

  .parallax-text-content {
    max-width: 70.5rem;
  }

  .parallax-text-content .title {
    font-size: 4.8rem;
    line-height: 6.2rem;
  }

  .parallax-text-content .subtitle {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .parallax-text-content .arrow-icon {
    padding-top: 4.3rem;
  }

  .parallax-text-content .arrow-icon img {
    width: 3.4rem;
  }

  .pos-top-left {
    top: 10%;
    left: 0;
  }

  .pos-center-right {
    top: 40%;
    right: 0%;
  }

  .pos-bottom-left {
    bottom: 0%;
    left: 14%;
  }
}

@media (min-width: 1024px) {
  .parallax-section .parallax-content-wrapper.container {
    max-width: 145rem;
    width: 100%;
    margin-inline: auto;
    padding-inline: 3rem;
    box-sizing: border-box;
  }

  .parallax-images-wrapper {
    left: 0;
    right: 0;
    width: 145rem;
    max-width: calc(100% - 6rem);
    margin-inline: auto;
  }

  .parallax-image-holder {
    width: 23.4rem;
  }

  .parallax-section {
    margin-top: 12.4rem;
  }
}

@media (min-width: 1875px) {
  .parallax-image-holder {
    width: 33.4rem;
  }
}