.tech-specifications-section {
  padding-top: 4.5rem;
}

.tech-specifications-wrapper {
  background: var(--tertiary-color);
  border-radius: var(--border-radius-20);
  padding: 4.5rem var(--page-padding-inline);
  width: 100%;
}

.tech-specifications-content {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  width: 100%;
  max-width: 145rem;
  margin-inline: auto;
}

.tech-specifications-description {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.tech-specifications-description img {
  max-width: 40%;
  border-radius: var(--border-radius-20);
}

.tech-specifications-description-content {
  display: flex;
  flex-direction: column;
}

.tech-specifications-description .title {
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--text-color-secondary);
  padding-block: .8rem 1.2rem;
}

.tech-specifications-description .subtitle {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: var(--text-color-tertiary);
}

.tech-specifications-details {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
.tech-specifications-details h2 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: var(--text-color-secondary);
}
.tech-specifications-details ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(37rem, 100%), 1fr));
  gap: 2.2rem;
}
.tech-specifications-details ul li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 1.4rem;
}

.tech-specifications-details-icon {
  flex-shrink: 0;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
}

.tech-specifications-details-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 0;
  flex: 1;
}

.tech-specifications-details h6 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: var(--primary-font);
  font-weight: 500;
}
.tech-specifications-details-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--text-color-tertiary);
}

@media (min-width: 768px) {
    .tech-specifications-wrapper {
        padding: 6rem;
        border-radius: 6rem;
    }
    .tech-specifications-content {
        flex-direction: row;
        gap: 4.5rem;
    }
    .tech-specifications-description,
    .tech-specifications-details {
        flex: 1 1 50%;
    }
    .tech-specifications-description {
        flex-direction: column;
        max-width: 43rem;
        gap: 2rem;
        align-items: flex-start;
    }
    .tech-specifications-description img {
        max-width: 100%;
        border-radius: var(--border-radius-30);
    }
    .tech-specifications-details ul {
        gap: 4rem 6rem;
    }
    .tech-specifications-description .title {
        font-size: 2.2rem;
        line-height: 3.2rem;
        padding-block: 0 1.8rem;
    }
    .tech-specifications-description .subtitle {
        font-size: 1.8rem;
        line-height: 3.1rem;
    }
    .tech-specifications-details h2 {
        font-family: var(--primary-font);
        font-size: 4.8rem;
        line-height: 6.2rem;
        color: var(--text-color-tertiary);
    }
    .tech-specifications-details-info {
        line-height: 2.2rem;
    }
    .tech-specifications-section {
      padding-top: 12.4rem;
    }
}

@media (min-width: 1600px) {
    .tech-specifications-wrapper {
        padding: 8rem 10rem;
    }
    .tech-specifications-content {
        gap: 11rem;
    }
}

@media (min-width: 1024px) {
  .tech-specifications-section .container {
    padding: 0 3rem;
    max-width: initial;
  }
}
