:root {
    --primary-color: #293D62;
    --primary-color-inverse: #FFFFFF;
    --secondary-color: #293D62;
    --secondary-color-inverse: #FFFFFF;
    --tertiary-color: #D3DAE2;
    --tertiary-color-inverse: #FFFFFF;
    --text-color: #000000;
    --text-color-secondary: #212121;
    --text-color-tertiary: #3F4142;
    --text-color-disabled: #B9B9B9;
    --background-color: #E4E9ED;
    --background-color-secondary: #F1F5F8;
    --background-color-tertiary: #F8F8F8;
    --border-color-primary: #F1F5F8;
    --border-color-secondary: #D8D8D8;
    --border-color-tertiary: #DFE3E8;
    --border-color-animated-btn: #4D6BA1;
    --border-color-animated-btn-inverse: #DBDBDC;
    --arrow-icon-color: #919191;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #242426;
    --light-rose: #F7F1EF;
    --rose: #ECD9DB;
    --light-cold: #E4E9ED;
    --cold: #BFD2DF;
    --light-petal: #EDE6E4;
    --light-bone: #EDEBE4;
    --light-mint: #E4ECEB;
    --light-cream: #FAEDE2;
    --light-sage: #E4EDEB;
    --light-sand: #F3E5D3;
    --light-linen: #EDE9E4;
    --border-radius-6: 0.6rem;
    --border-radius-12: 1.2rem;
    --border-radius-14: 1.4rem;
    --border-radius-16: 1.6rem;
    --border-radius-18: 1.8rem;
    --border-radius-20: 2rem;
    --border-radius-30: 3rem;
    --border-radius-full: 100rem;
    --primary-font: 'Geograph', sans-serif;
    --secondary-font: 'Rastano-3', sans-serif;
    --rastano-font: 'Rastano', sans-serif;

    --focus-color: #007bff;

    --announcement-bar-height-desktop: 6rem;
    --header-height-desktop: 7rem;

    --desktop-menu-transition-duration: 0.55s;
    --desktop-menu-transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
    --announcement-cover-duration: 0.11s;
    --announcement-cover-close-delay: 0.44s;
    --announcement-slide-transition-duration: 0.35s;

    --green-badge: #457152;
    --orange-badge: #CB9578;

    --danger: #ff4646;
}
