<div class="desktop-menu-row desktop-menu-row--shop-extended" data-menu-id="shop">
  <div class="shop-extended">
    <div class="shop-extended__row shop-extended__row--top">
      <div class="shop-extended__col shop-extended__col--showcase">
        <div class="shop-extended__showcase">
          <a href="/product/" class="shop-extended__showcase-item">
            <img
              class="shop-extended__showcase-image skip-img-fadein"
              src="/images/menu/vilo-ring-signature.webp"
              width="370"
              loading="lazy"
              alt="Vilo Ring Signature">
            <span class="shop-extended__showcase-copy">
              <span class="shop-extended__showcase-heading">Vilo Ring Signature</span>
              <span class="shop-extended__showcase-subheading">Metal meets translucent.</span>
            </span>
            <span class="shop-extended__showcase-arrow" aria-hidden="true">
              <img class="skip-img-fadein" src="/images/icons/arrow-right-dark.png" alt="" width="18" height="12" decoding="async">
            </span>
          </a>
          <a href="/product/" class="shop-extended__showcase-item">
            <img
              class="shop-extended__showcase-image skip-img-fadein"
              src="/images/menu/vilo-ring-pop.webp"
              width="370"
              loading="lazy"
              alt="Vilo Ring Pop">
            <span class="shop-extended__showcase-copy">
              <span class="shop-extended__showcase-heading">Vilo Ring Pop</span>
              <span class="shop-extended__showcase-subheading">Bright, a little unexpected.</span>
            </span>
            <span class="shop-extended__showcase-arrow" aria-hidden="true">
              <img class="skip-img-fadein" src="/images/icons/arrow-right-dark.png" alt="" width="18" height="12" decoding="async">
            </span>
          </a>
          <a href="/product/" class="shop-extended__showcase-item">
            <img
              class="shop-extended__showcase-image skip-img-fadein"
              src="/images/menu/charging-case.webp"
              width="370"
              loading="lazy"
              alt="Charging Case">
            <span class="shop-extended__showcase-copy">
              <span class="shop-extended__showcase-heading">Charging Case</span>
              <span class="shop-extended__showcase-subheading">Charges on the go.</span>
            </span>
            <span class="shop-extended__showcase-arrow" aria-hidden="true">
              <img class="skip-img-fadein" src="/images/icons/arrow-right-dark.png" alt="" width="18" height="12" decoding="async">
            </span>
          </a>
        </div>
      </div>

      <div class="shop-extended__col shop-extended__col--splitter">
        <div class="shop-extended__splitter" aria-hidden="true"></div>
      </div>

      <div class="shop-extended__col shop-extended__col--menu">
        <nav class="shop-extended__menu" aria-label="Shop products">
          <load src="/_page-components/components/menu-shop-extended-links.html" />
        </nav>
      </div>
    </div>

    <div class="shop-extended__row shop-extended__row--bottom">
      <div class="shop-extended__promo">
        <span class="shop-extended__promo-icon">
          <img class="skip-img-fadein" src="/images/icons/icon-100-percentage-refundable.png" alt="100% Refundable" width="80" height="80" decoding="async">
        </span>
        <span class="shop-extended__promo-copy">
          <span class="shop-extended__promo-heading">100% Refundable</span>
          <span class="shop-extended__promo-subheading">Reserve with confidence. Cancel anytime, full refund, no questions asked.</span>
        </span>
      </div>
      <div class="shop-extended__promo">
        <span class="shop-extended__promo-icon">
          <img class="skip-img-fadein" src="/images/icons/icon-60-day-free-trial-menu.png" alt="60-Day Free Trial" width="80" height="80" decoding="async">
        </span>
        <span class="shop-extended__promo-copy">
          <span class="shop-extended__promo-heading">60-Day Free Trial</span>
          <span class="shop-extended__promo-subheading">Rhythm takes time to read. Live with it for 60 days. Not a fit? Send it back, fully refunded.</span>
        </span>
      </div>
      <div class="shop-extended__promo">
        <span class="shop-extended__promo-icon">
          <img class="skip-img-fadein" src="/images/icons/icon-fsa-eligible.png" alt="HSA/FSA Eligible" width="80" height="80" decoding="async">
        </span>
        <span class="shop-extended__promo-copy">
          <span class="shop-extended__promo-heading">HSA/FSA Eligible</span>
          <span class="shop-extended__promo-subheading">Make Vilo part of your wellness routine with HSA/FSA funds.</span>
        </span>
      </div>
    </div>
  </div>
</div>
