<div class="experience-grid">
  <a
    href="/page/advanced-sensing/"
    class="experience-grid-cell"
    style="--experience-grid-cell-bg: url('/images/menu/why-vilo-deep-sensing.webp');">
    <span class="experience-grid-cell__title">Deep Sensing</span>
    <span class="experience-grid-cell__action" aria-hidden="true">
      <load src="/_icons/icon-plus-black.html" />
    </span>
  </a>
  <a
    href="/page/material-and-craft/"
    class="experience-grid-cell"
    style="--experience-grid-cell-bg: url('/images/menu/why-vilo-materials.webp');">
    <span class="experience-grid-cell__title">Materials</span>
    <span class="experience-grid-cell__action" aria-hidden="true">
      <load src="/_icons/icon-plus-black.html" />
    </span>
  </a>
  <a
    href="/page/ai-and-personalization/"
    class="experience-grid-cell"
    style="--experience-grid-cell-bg: url('/images/menu/why-vilo-ai-and-personalization.webp');">
    <span class="experience-grid-cell__title">AI &amp; Personalization</span>
    <span class="experience-grid-cell__action" aria-hidden="true">
      <load src="/_icons/icon-plus-black.html" />
    </span>
  </a>
  <a
    href="/page/science-and-research/"
    class="experience-grid-cell"
    style="--experience-grid-cell-bg: url('/images/menu/why-vilo-science-and-research.webp');">
    <span class="experience-grid-cell__title">Science &amp; Research</span>
    <span class="experience-grid-cell__action" aria-hidden="true">
      <load src="/_icons/icon-plus-black.html" />
    </span>
  </a>
  <a
    href="/blog/khoros-bergman-pulse-what-we-wear-next-skin-in-the-age-of-ai/"
    class="experience-grid-cell"
    style="--experience-grid-cell-bg: url('/images/menu/why-vilo-our-philosophy.webp');">
    <span class="experience-grid-cell__title">Our Philosophy</span>
    <span class="experience-grid-cell__action" aria-hidden="true">
      <load src="/_icons/icon-plus-black.html" />
    </span>
  </a>
  <a
    href="/page/who-we-are/"
    class="experience-grid-cell"
    style="--experience-grid-cell-bg: url('/images/menu/why-vilo-about-us.webp');">
    <span class="experience-grid-cell__title">About Us</span>
    <span class="experience-grid-cell__action" aria-hidden="true">
      <load src="/_icons/icon-plus-black.html" />
    </span>
  </a>
</div>
