<a href="/page/advanced-sensing/" class="menu-list-item-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein menu-list-item-icon-default" src="/images/icons/icon-advanced-sensing.png" alt="" decoding="async">
    <img class="skip-img-fadein menu-list-item-icon-hover" src="/images/icons/icon-advanced-sensing-hover.png" alt="" decoding="async">
  </span>
  <span class="menu-list-item-title">Deep Sensing</span>
</a>
<a href="/page/material-and-craft/" class="menu-list-item-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein menu-list-item-icon-default" src="/images/icons/icon-materials.png" alt="" decoding="async">
    <img class="skip-img-fadein menu-list-item-icon-hover" src="/images/icons/icon-materials-hover.png" alt="" decoding="async">
  </span>
  <span class="menu-list-item-title">Crafted Matter</span>
</a>
<a href="/page/ai-and-personalization/" class="menu-list-item-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein menu-list-item-icon-default" src="/images/icons/icon-ai-and-personalization.png" alt="" decoding="async">
    <img class="skip-img-fadein menu-list-item-icon-hover" src="/images/icons/icon-ai-and-personalization-hover.png" alt="" decoding="async">
  </span>
  <span class="menu-list-item-title">AI, Our Way</span>
</a>
