<a href="/product/" class="menu-list-item-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein menu-list-item-icon-default" src="/images/icons/icon-advanced-sensing.png" alt="" decoding="async">
    <img class="skip-img-fadein menu-list-item-icon-hover" src="/images/icons/icon-advanced-sensing-hover.png" alt="" decoding="async">
  </span>
  <span class="menu-list-item-title">Vilo Ring Signature</span>
</a>
<a href="/product/" class="menu-list-item-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein menu-list-item-icon-default" src="/images/icons/icon-materials.png" alt="" decoding="async">
    <img class="skip-img-fadein menu-list-item-icon-hover" src="/images/icons/icon-materials-hover.png" alt="" decoding="async">
  </span>
  <span class="menu-list-item-title">Vilo Ring Pop</span>
</a>
<a href="/vilo-earring/" class="menu-list-item-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein menu-list-item-icon-default" src="/images/icons/icon-ai-and-personalization.png" alt="" decoding="async">
    <img class="skip-img-fadein menu-list-item-icon-hover" src="/images/icons/icon-ai-and-personalization-hover.png" alt="" decoding="async">
  </span>
  <span class="menu-list-item-title">Vilo Earring</span>
</a>
