<a href="/product/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/vilo-ring-signature.png" alt="Vilo Ring" decoding="async">
  </span>
  <span class="shop-extended__menu-text" data-text="Vilo Ring Signature">Vilo Ring</span>
  <span class="shop-extended__menu-badge">
    <img class="skip-img-fadein" src="/images/icons/icon-preorder-badge.png" alt="Preorder" decoding="async">
  </span>
</a>
<a href="/vilo-skins/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/vilo-skins.png" alt="Vilo Skins" decoding="async">
  </span>
  <span class="shop-extended__menu-text" data-text="Vilo Ring Pop">Vilo Skins</span>
  <span class="shop-extended__menu-badge">
    <img class="skip-img-fadein" src="/images/icons/icon-new-badge.png" alt="New" decoding="async">
  </span>
</a>
<a href="/product/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/charging-case.png" alt="Charging Case" decoding="async">
  </span>
  <span class="shop-extended__menu-text" data-text="Charging Case">Charging Case</span>
</a>
<a href="/product/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/charging-base.png" alt="Charging Base" decoding="async">
  </span>
  <span class="shop-extended__menu-text" data-text="Sizing Kit">Charging Base</span>
</a>
<a href="/page/size-guide/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/sizing-kit.png" alt="Sizing Kit" decoding="async">
  </span>
  <span class="shop-extended__menu-text" data-text="Sizing Kit">Sizing Kit</span> 
</a>
<a href="/vilo-earring/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/vilo-earring.png" alt="Vilo Earring" decoding="async">
  </span>
  <span class="shop-extended__menu-text" data-text="Vilo Earring">Vilo Earring</span>
  <span class="shop-extended__menu-badge">
    <img class="skip-img-fadein" src="/images/icons/icon-new-badge.png" alt="New" decoding="async">
  </span>
</a>
