<a href="/page/science-and-research/" class="menu-list-item-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein menu-list-item-icon-default" src="/images/icons/icon-science-research.png" alt="" decoding="async">
    <img class="skip-img-fadein menu-list-item-icon-hover" src="/images/icons/icon-science-research-hover.png" alt="" decoding="async">
  </span>
  <span class="menu-list-item-title">Backed by Proof</span>
</a>
<a href="/blog/khoros-bergman-pulse-what-we-wear-next-skin-in-the-age-of-ai/" class="menu-list-item-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein menu-list-item-icon-default" src="/images/icons/icon-our-philosophy.png" alt="" decoding="async">
    <img class="skip-img-fadein menu-list-item-icon-hover" src="/images/icons/icon-our-philosophy-hover.png" alt="" decoding="async">
  </span>
  <span class="menu-list-item-title">Why We Build</span>
</a>
<a href="/page/who-we-are/" class="menu-list-item-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein menu-list-item-icon-default" src="/images/icons/icon-about-us.png" alt="" decoding="async">
    <img class="skip-img-fadein menu-list-item-icon-hover" src="/images/icons/icon-about-us-hover.png" alt="" decoding="async">
  </span>
  <span class="menu-list-item-title">Who We Are</span>
</a>
