<a href="/product/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/vilo-ring-signature.png" alt="Vilo Ring Signature" decoding="async">
  </span>
  <span class="shop-extended__menu-text">Vilo Ring Signature</span>
  <span class="shop-extended__menu-badge">
    <img class="skip-img-fadein" src="" alt="Preorder" decoding="async">
  </span>
</a>
<a href="/product/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/vilo-ring-pop.png" alt="Vilo Ring Pop" decoding="async">
  </span>
  <span class="shop-extended__menu-text">Vilo Ring Pop</span>
  <span class="shop-extended__menu-badge">
    <img class="skip-img-fadein" src="/images/icons/icon-new-badge.png" alt="New" decoding="async">
  </span>
</a>
<a href="/product/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/charging-case.png" alt="Charging Case" decoding="async">
  </span>
  <span class="shop-extended__menu-text">Charging Case</span>
</a>
<a href="/page/size-guide/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/sizing-kit.png" alt="Sizing Kit" decoding="async">
  </span>
  <span class="shop-extended__menu-text">Sizing Kit</span>
</a>
<a href="/vilo-earring/" class="shop-extended__menu-link">
  <span class="menu-list-item-icon">
    <img class="skip-img-fadein" src="/images/menu/vilo-earing.png" alt="Vilo Earring" decoding="async">
  </span>
  <span class="shop-extended__menu-text">Vilo Earring</span>
  <span class="shop-extended__menu-badge">
    <img class="skip-img-fadein" src="/images/icons/icon-new-badge.png" alt="New" decoding="async">
  </span>
</a>
