<div class="secondary-menu-item secondary-menu-item--shop-extended" data-parent-link-id="shop">
  <div class="mobile-shop-menu">
    <div class="mobile-shop-menu__row mobile-shop-menu__row--cards">
      <div class="mobile-shop-menu__cards swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/product/" class="mobile-shop-menu__card">
              <img
                class="mobile-shop-menu__card-image skip-img-fadein"
                src="/images/menu/vilo-ring-signature.webp"
                width="304"
                loading="lazy"
                alt="Vilo Ring Signature">
              <span class="mobile-shop-menu__card-copy">
                <span class="mobile-shop-menu__card-heading">Vilo Ring</span>
                <span class="mobile-shop-menu__card-subheading">Metal meets translucent.</span>
              </span>
              <span class="mobile-shop-menu__card-arrow" aria-hidden="true">
                <img class="skip-img-fadein" src="/images/icons/arrow-right-dark.png" alt="" width="18" height="12" decoding="async">
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/vilo-skins/" class="mobile-shop-menu__card">
              <img
                class="mobile-shop-menu__card-image skip-img-fadein"
                src="/images/menu/vilo-skins.webp"
                width="304"
                loading="lazy"
                alt="Vilo Ring Pop">
              <span class="mobile-shop-menu__card-copy">
                <span class="mobile-shop-menu__card-heading">Vilo Skins</span>
                <span class="mobile-shop-menu__card-subheading">One ring, a wardrobe of looks.</span>
              </span>
              <span class="mobile-shop-menu__card-arrow" aria-hidden="true">
                <img class="skip-img-fadein" src="/images/icons/arrow-right-dark.png" alt="" width="18" height="12" decoding="async">
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/product/" class="mobile-shop-menu__card">
              <img
                class="mobile-shop-menu__card-image skip-img-fadein"
                src="/images/menu/charging-case.webp"
                width="304"
                loading="lazy"
                alt="Charging Case">
              <span class="mobile-shop-menu__card-copy">
                <span class="mobile-shop-menu__card-heading">Charging Case</span>
                <span class="mobile-shop-menu__card-subheading">Charges on the go.</span>
              </span>
              <span class="mobile-shop-menu__card-arrow" aria-hidden="true">
                <img class="skip-img-fadein" src="/images/icons/arrow-right-dark.png" alt="" width="18" height="12" decoding="async">
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-shop-menu__row mobile-shop-menu__row--links">
      <nav class="mobile-shop-menu__links shop-extended__menu" aria-label="Shop products">
        <load src="/_page-components/components/menu-shop-extended-links.html" />
      </nav>
    </div>

    <div class="mobile-shop-menu__row mobile-shop-menu__row--promos">
      <div class="mobile-shop-menu__promo">
        <span class="mobile-shop-menu__promo-icon">
          <img class="skip-img-fadein" src="/images/icons/icon-100-percentage-refundable.png" alt="100% Refundable" width="80" height="80" decoding="async">
        </span>
        <span class="mobile-shop-menu__promo-heading">100% Refundable</span>
      </div>
      <div class="mobile-shop-menu__promo">
        <span class="mobile-shop-menu__promo-icon">
          <img class="skip-img-fadein" src="/images/icons/icon-60-day-free-trial-menu.png" alt="60-Day Free Trial" width="80" height="80" decoding="async">
        </span>
        <span class="mobile-shop-menu__promo-heading">60-Day Free Trial</span>
      </div>
      <div class="mobile-shop-menu__promo">
        <span class="mobile-shop-menu__promo-icon">
          <img class="skip-img-fadein" src="/images/icons/icon-fsa-eligible.png" alt="HSA/FSA Eligible" width="80" height="80" decoding="async">
        </span>
        <span class="mobile-shop-menu__promo-heading">HSA/FSA Eligible</span>
      </div>
    </div>
  </div>
</div>
