<div class="secondary-menu-item" data-parent-link-id="experience">
  <div class="secondary-menu-item-row">
    <img
      class="secondary-menu-item-image"
      src="/images/menu/menu-image-1-vilo.webp"
      width="480"
      fetchpriority="low"
      loading="lazy"
      alt="">
  </div>
  <div class="secondary-menu-item-row">
    <div class="secondary-menu-links-list">
      <load src="/_page-components/components/menu-experience-links-col-1.html" />
      <load src="/_page-components/components/menu-experience-links-col-2.html" />
    </div>
  </div>
</div>
