<div class="js-contact-us-form get-notify-form">
  <form method="post" data-no-redirect>
    <div class="form-input-elements">
      <div class="error-tooltip" aria-live="polite">
        Please enter a valid email address
      </div>
      <label for="product-notify-email" class="sr-only">Email address</label>
      <input type="email" id="product-notify-email" autocomplete="email" name="email" required placeholder="Leave your email for updates">
    </div>
    <button type="submit" class="btn" variant="primary" data-fb-event="SubmitApplication">
      Get Notified
    </button>
  </form>
</div>
